{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="{% static 'activate/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'activate/assets/css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'activate/assets/css/styles.css' %}">
</head>

<body>
    <section class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Аккаунт неактивний</h2>
                <p class="text-center">Ваш аккаунт не має ніяких ролей. Напишіть адміністратору romamalenko241@gmail.com ФІО, ваш ID та ваш факультет для індентифікації та активації аккаунту</p>
            </div>
            <div class="buttons"></div>
        </div>
    </section>
    <script src="{% static 'activate/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>